<!DOCTYPE html>
<html>
<head>
    <title>Добавление электронной книги</title>
    <meta charset="utf-8" />
    <style>.field{width:180px;}</style>
</head>
<body>
<h1>Добавление электронной книги</h1>
<form method="POST">
    <label>Размер экрана</label>
    <input type="text" name="screenSize" id="screenSize"/><br/>

    <label>Разрешение экрана</label>
    <input type="text" name="screenResolution" id="screenResolution"/><br/>

    <label>Тип экрана</label>
    <input type="text" name="screenType" id="screenType"/><br/>

    <label>Память</label>
    <input type="text" name="flashMemory" id="flashMemory"/><br/>

    <input type="submit" value="Добавить" />

</form>
<a href="/ebook">К списку электронных книг</a>
</body>
<html>